<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=40f9c8e041fd25d24eb46d7ec6d86a88&redirect_uri=http://localhost:8080/&response_type=code">
        로컬 배포 카카오 로그인
    </a>
</div>
    <div>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=40f9c8e041fd25d24eb46d7ec6d86a88&redirect_uri=http://115.85.181.47:8080/&response_type=code">
            배포 카카오 로그인
        </a>
    </div>
</body>
</html>